@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  font-family: "Libre Baskerville", serif;
}

.logo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  background-color: #c4c4c4;
  color: #7c3e66;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 6px;
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 10px;
}

footer {
  background-color: #005677;
  color: white;
  text-align: center;
  line-height: 30px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
}

.title {
  line-height: 1.5em;
}
